### PyCharm ###

.idea/

### VisualStudioCode ###

.vscode/

### JupyterNotebooks ###

.ipynb_checkpoints

### Python ###

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
venv/

### Data ###

# I/O
*.feather
*.xlsx
*.png
*.html
*.log

results_old_git_2021_09_28/
